<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                <div class="card shadow-lg">
                    <div class="card-body p-10">
                        <h1 class="fs-4 card-title fw-bold mb-4">GPIO Persistence Feedback</h1>
                        <form method="POST" class="needs-validation" novalidate="" autocomplete="off">
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="expectedResult">Expected Result Similar To:</label>
                                <input id="expectedResult" type="text" class="form-control" name="expectedResult" value="{{ expectedResult }}">
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="result">Actual Result</label>
                                <input id="result" type="text" class="form-control" name="result" value="{{ result }}">
                            </div>

                            <p class="form-text text-muted mb-3">
                                By initializing GPIO persistence...
                            </p>

                            <div class="align-items-center d-flex">
                                <input type="submit" value="Looks good!" class="btn btn-primary rounded"
                                    hx-get="/"
                                    hx-target="#gpios">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>