<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">{{ name }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">GPIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/nickodimus" target="_blank" rel="noreferrer">GitHub</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Controller Pages
          </a>
          <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/home">Home Page</a></li>
              <li><a class="dropdown-item" href="/">GPIO Control Interface</a></li>
              <li><a class="dropdown-item" href="/nodeRed">Node-RED Server</a></li>
              <li><a class="dropdown-item" href="/terminal">Terminal Page</a></li>
              <li><a class="dropdown-item" href="/interactiveGPIOPinout">Interactive GPIO Pinout</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/initialize">Initialize GPIOs</a></li>
          </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Check for Updates</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!---

<div class="dropdown-menu">
    <form class="px-4 py-3">
        <div class="form-group">
            <label for="exampleDropdownFormEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
        </div>
        <div class="form-group">
            <label for="exampleDropdownFormPassword1">Password</label>
            <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="dropdownCheck">
            <label class="form-check-label" for="dropdownCheck">
                Remember me
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">New around here? Sign up</a>
    <a class="dropdown-item" href="#">Forgot password?</a>
</div>

--->