<div class="row">
     <div class="col-8">
         <div class="p-1 d-flex col-8 mb-3">
             <input id="search"
                type="text"
                class="form-control border-primary me-2"
                placeholder="Search..."
                _="on keyup
                 if the event's key is 'Escape'
                     set my value to ''
                     trigger keyup
                 else
                     show <tr/> in <tbody/> when its textContent contains my value" />
             <button class="btn btn-primary"
                     _="on click set #search.value to '' trigger keyup on #search">Clear</button>
         </div>
     </div>
</div>